/* .responsiveSVGChartElements > div > svg {
    position: absolute;
    top: 0;
    left: 0;
} */

.responsiveSVGChartElements {
    width: 600px;
    position: absolute;
    top: 0;
    left: 0px;
}

.chartViewport {
    position: relative;
    overflow: hidden;
}

.line {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.tempGridlines {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}
.backgroundXgridXaxis {
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
}
.yAxisAndLabels {
    position: absolute;
    top: 0;
    left: 0;
}
.hoverHitBoxes {
    display: flex;
    /* border: 1px solid red; */
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.hoverHitBoxes {
}
.hoverHitBox:hover {
    /* border: 3px solid fuchsia;
    opacity: 0.3;
    height: calc(100% - 6px);
    border-radius: 5px;
    margin: 0px -3px; */
    /* box-sizing: border-box; */
}
